<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{site['description']}}接口</title>
  <link rel="shortcut icon" href="{{ static_url('imgs/favicon.ico') }}" type="image/x-icon">
  <style>
    body {
      padding: 10px;
      -webkit-font-smoothing: antialiased;
    }

    h3, p {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #335;
    }

    a:hover {
      color: #00f;
    }
  </style>
</head>

<body>

<h3>{{site['description']}}接口</h3>
<p>版本：{{version}}</p>
<table align="center">
  <tr>
    <th>序号</th>
    <th>接口地址</th>
    <th>实现函数</th>
    <th>接口说明</th>
    <th>角色</th>
  </tr>
  {% for i, (url, func, repeat, file, comment, auth) in enumerate(handlers) %}
  <tr>
    <td>{{1 + i}}</td>
    <td>{{url}}</td>
    <td><a href="/api/code/{{func}}" title="{{file}}">{{func}}{{' (%d)' % repeat if repeat else ''}}</a></td>
    <td>{{comment}}</td>
    <td>{{auth}}</td>
  </tr>
  {% end %}
</table>

</body>
</html>
