<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{{site['name']}} - 访问出错</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
</head>

<body>
<div class="app-main">
  <div class="main">
    <!--公共左侧导航栏 -->
    {% module CommonLeft(title="task-lobby", sub="task-lobby-char") %}
    <div class="main-content">
      <!--公共头部 -->
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">访问出错
                      <small>({{code}})</small>
                    </h3>
                  </div>
                  <div class="panel-body" style="padding: 10px">
                    <p>{{message}}</p>
                    <p style="margin-top: 10px">
                      {% if 'links' in globals() %}
                      {% for text, url in links %}
                      <a href="{{url}}" class="btn btn-primary">{{text}}</a>
                      {% end %}
                      {% end %}
                      <a href="javascript:history.back(-1)" class="btn btn-default">
                        <i class="glyphicon glyphicon-chevron-left"></i> 返回前页
                      </a>
                      <a href="/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> 回到首页</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}

</body>
</html>