<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>CBETA</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/tripitaka.css') }}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
  <link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<style>
  .dataTables_paginate .pagination {
    float: right;
  }

  .dataTables_wrapper .paginate_button a:hover {
    color: #666;
  }

  .dataTables_wrapper .paginate_button.active a {
    background-color: #b88f6f;
    border-color: #b88f6f;
  }

</style>


<body>
<div class="app-main">
  <div class="main">
    <div class="main-content flex-content">
      <!--<div class="main-left slim-scroll" id="main-left"></div>-->
      <div class="main-right" id="main-right">
        <div class="m-header">
          <div class="header-line main-line">
            <div class="left">
              <div class="panel-btn">
                <img class="btn-img" data-toggle="modal" data-target="#searchModal" src="{{ static_url('imgs/icon_panel.png') }}"/>
              </div>
              <div class="title">CBETA</div>
              <div class="zone-control">
                <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img zone-article" title="文章区域"/>
                <img src="{{ static_url('imgs/icon_stick2.png') }}" class="btn-img zone-stick" title="粘住区域"/>
                <img src="{{ static_url('imgs/icon_search.png') }}" class="btn-img zone-search" title="检索区域"/>
              </div>
              <div class="tools">
                <img src="{{ static_url('imgs/icon_catalog.png') }}" class="btn-img btn-catalog" title="文章目次"/>
              </div>
              <div class="more">
                <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img btn-more" title="更多"/>
                <span class="btn-group more-group hidden" role="group" aria-label="更多">
                  <button type="button" class="btn btn-default btn-sm btn-line-head">行首</button>
                  <button type="button" class="btn btn-default btn-sm btn-note">校勘</button>
                  <button type="button" class="btn btn-default btn-sm btn-bd">标点</button>
                </span>
              </div>
            </div>
            <div class="right">
              <div class="search">
                <img class="search-help btn-img" src="{{ static_url('imgs/char_icon7.png') }}" title="全文检索帮助"/>
                <img src="{{ static_url('imgs/icon_config.png') }}" class="btn-img btn-config" title="配置自定范围" data-toggle="modal" data-target="#configModal"/>
                <div class="input-group-btn search-scope">
                  <button type="button" class="btn dropdown-toggle btn-scope" data-toggle="dropdown">
                    <span class="cur-scope" id="cur-scope">全部</span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu scope-items">
                    <li><a class="scope-item active" href="#">全部</a></li>
                    <li><a class="scope-item" href="#">本经</a></li>
                    <li><a class="scope-item" href="#">自定</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input id="search-input" class="form-control search-input" type="text" placeholder="请输入关键字或页码">
                <img class="search-img" src="/static/imgs/search-icon.png">
              </div>
              <div class="zoom">
                <img class="min-img" src="{{ static_url('imgs/icon_up.png') }}"/>
                <img class="max-img hide" src="{{ static_url('imgs/icon_down.png') }}"/>
              </div>
            </div>
          </div>
          <div class="header-line sub-line">
            <div class="left">
              <div class="m-pager">
                <div class="btn-page">卷</div>
                <div class="btn-page first">1</div>
                <div class="btn-page prev"><</div>
                <div class="btn-page to"><input type="text" value="{{juan}}"/></div>
                <div class="btn-page next">></div>
                <div class="btn-page last">{{juan_count}}</div>
              </div>
              <div class="btn-tools" style="margin-left: 10px">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
            </div>
            <div class="center hide">
              <div class="btn-tools">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
            </div>
            <div class="right">
              <div class="m-pager">
                <div class="btn-page first">1</div>
                <div class="btn-page prev"><</div>
                <div class="btn-page to"><input type="text" value="3"/></div>
                <div class="btn-page next">></div>
                <div class="btn-page last">80</div>
              </div>
              <div class="btn-tools">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
              <div class="order-wrap">
                <span class="cur-order" id="cur-order">按相关度排列</span>
                <img class="order-img" src="{{ static_url('imgs/icon_order.png') }}"/>
                <div class="search-orders hide">
                  <div class="search-order active">按相关度排列</div>
                  <div class="search-order">按页编码排列</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="content-left slim-scroll">
            <div id="content-article" class="article">
              {% raw article %}
            </div>
          </div>

          <div class="content-center slim-scroll hide">
            <div class="result-items">
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">T31n1604_p0644 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img btn-show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大般若波羅蜜多經(600卷)[玄奘]</div>
                <div class="result-text slim-scroll">
                  所謂寶相菩薩、寶手菩薩、寶印菩薩、寶髻菩薩、寶冠菩薩、寶峯菩薩、寶海菩薩、寶焰菩薩、寶幢菩薩、寶藏菩薩、金藏菩薩、淨藏菩薩、德藏菩薩、定藏菩薩、智藏菩薩、日藏菩薩、月藏菩薩、如來藏菩薩、蓮華藏菩薩、金剛藏菩薩、解脫月菩薩、普賢菩薩、普音菩薩、普戒菩薩、普行菩薩、
                </div>
              </div>
            </div>
          </div>

          <div class="content-right slim-scroll">
            <div class="result-items">
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">T31n1604_p0644 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大般若波羅蜜多經(600卷)[玄奘]</div>
                <div class="result-text slim-scroll">
                  所謂寶相菩薩、寶手菩薩、寶印菩薩、寶髻菩薩、寶冠菩薩、寶峯菩薩、寶海菩薩、寶焰菩薩、寶幢菩薩、寶藏菩薩、金藏菩薩、淨藏菩薩、德藏菩薩、定藏菩薩、智藏菩薩、日藏菩薩、月藏菩薩、如來藏菩薩、蓮華藏菩薩、金剛藏菩薩、解脫月菩薩、普賢菩薩、普音菩薩、普戒菩薩、普行菩薩、
                </div>
              </div>
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">T0279n0023_p0003 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大方廣佛華嚴經(80卷)[實叉難陀]</div>
                <div class="result-text slim-scroll">
                  金剛智威德菩薩、無垢威德菩薩、日威德菩薩、月威德菩薩、福山威德菩薩、智照威德菩薩、普勝威德菩薩、地藏菩薩、虛空藏菩薩、蓮華藏菩薩、寶藏菩薩、日藏菩薩、清淨功德藏菩薩、法海藏菩薩、遍照藏菩薩、齊藏菩薩、勝蓮華藏菩薩、日眼菩薩、淨眼菩薩、無垢眼菩薩、無礙眼菩薩、普明眼菩薩、善利智眼菩薩、金剛眼菩薩、寶眼菩薩、虛空眼菩薩
                </div>
              </div>
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">L132n1557_p0524 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大方廣佛華嚴經(40卷)[佛馱跋陀羅]</div>
                <div class="result-text">
                  何者為十？所謂：得諸相好，種種莊嚴，同於諸佛；能放清淨大光明網，同於諸佛；神通變化，調伏眾生，同於諸佛；無邊色身，清淨圓音，同於諸佛；隨眾生業現淨佛國，同於諸佛；一切眾生所有語言皆能攝持、不忘不失，同於諸佛；無盡辯才隨眾生心而轉法輪令生智慧，同於諸佛；大師子吼無所怯畏，以無量法開悟群生，同於諸佛；於一念頃，以大神通普入三世，同於諸佛；普能顯示一切眾生諸佛莊嚴、諸佛威力、諸佛境界，同於諸佛。爾時，
                  <span class="hit" style="color:red">普眼菩薩</span>白普賢菩薩言：「佛子！此菩薩摩訶薩得如是法，同諸如來，何故不名：佛？何故不名：十力？何故不名：一切智？何故不名：一切法中得菩提者？何故不得名為：普眼？何故不名：一切境中無礙見者？何故不名：覺一切法？何故不名：與三世佛無二住者？何故不名：住實際者？何故修行普賢行願猶未休息？何故不能究竟法界捨菩薩道？」
                </div>
              </div>
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">L132n1557_p0522 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大方廣佛華嚴經(40卷)[佛馱跋陀羅]</div>
                <div class="result-text slim-scroll">
                  月光菩薩、一塵菩薩、堅固行菩薩、霔法雨菩薩、最勝幢菩薩、普莊嚴菩薩、智眼菩薩、法眼菩薩、慧雲菩薩、總持王菩薩、無住願菩薩、智藏菩薩、心王菩薩、內覺慧菩薩、住佛智菩薩、陀羅尼勇健力菩薩、持地力菩薩、妙月菩薩、須彌頂菩薩、寶頂菩薩、普光照菩薩、威德王菩薩、智慧輪菩薩、大威德菩薩、大龍相菩薩、質直行菩薩、不退轉菩薩、持法幢菩薩、無忘失菩薩、攝諸趣菩薩、不思議決定慧菩薩、遊戲無邊智菩薩、無盡妙法藏菩薩、智日菩薩、法日菩薩、智藏菩薩、智澤菩薩、普見菩薩、不空見菩薩、金剛通菩薩、金剛智菩薩、金剛焰菩薩、金剛慧菩薩、
                  <span class="hit" style="color:red">普眼菩薩</span>、佛日菩薩、持佛金剛祕密義菩薩、普眼境界智莊嚴菩薩……。如是等菩薩摩訶薩十佛剎微塵數，往昔皆與毘盧遮那如來同修菩薩諸善根行。爾時，普眼菩薩摩訶薩承佛神力從座而起，偏袒右肩，右膝著地，合掌白佛言：「世尊！我於如來、應、正等覺，欲有所問，願垂哀許。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--鼠标点击关键字时，弹出对话框-->
<div id="mouse-over-dlg">
  <div class="dlg_txt"><b>得【大正】＝保</b></div>
  <div class="m-btn-group">
    <div class="m-btn"><a href=""><i class="ion-ios7-copy-outline"></i>复制</a></div>
    <div class="m-btn"><a href="javascript:showList()"><i class="ion-navicon"></i>查看列图</a></div>
  </div>
</div>

<!--鼠标选中文字时，弹出对话框-->
<div id="text-selected-dlg">
  <ul>
    <li><img src="{{ static_url('imgs/icon9_1.png') }}"/><span>复制文字</span></li>
    <li><img src="{{ static_url('imgs/icon10.png') }}"/><span>引用复制</span></li>
    <li><img src="{{ static_url('imgs/icon11.png') }}"/><span>查词典</span></li>
    <li><img src="{{ static_url('imgs/icon12.png') }}"/><span>查字典</span></li>
    <li><img src="{{ static_url('imgs/icon13.png') }}"/><span>检索</span></li>
  </ul>
</div>

<!-- 配置自定检索范围 -->
<div class="panel-body">
  <div id="configModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">配置自定检索范围</h4>
        </div>
        <div class="modal-body">
          <h4 class="control-label">选择检索分组<span class="add-search-scope">+</span></h4>
          <div class="search-scope-groups">
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline active">唯识</label></span>
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline">戒律</label></span>
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline">某某</label></span>
          </div>
          <div class="notes">注：点击+号可新建分组，单击分组可以修改名称，双击分组可以配置分组内容</div>
          <br/>
          <h4 class="control-label">配置分组：<span class="cur-search-scope">唯识</span></h4>
          <div class="form-group">
            <select multiple='multiple' id='my-select' name='my-select'>
              <option value='经名1'>经名1</option>
              <option value='经名2'>经名2</option>
              <option value='经名3'>经名3</option>
              <option value='经名4'>经名4</option>
              <option value='经名5'>经名5</option>
              <option value='经名6'>经名6</option>
              <option value='经名7'>经名7</option>
              <option value='经名8'>经名8</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light">保存配置</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 检索经名、作译者等 -->
<div class="panel-body">
  <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="choose-pages">经籍检索</h4>
        </div>
        <div class="modal-body">
          <!-- ["经号", "经名", "所属藏经", "部类", "册别", "卷数", "字数", "作译者", "时间"]-->
          <table id="my-table" class="table my-table" style="width: 100%">
            <thead>
            <tr>
              <th style="width: 45px">经号</th>
              <th>经名</th>
              <th style="width: 80px">藏经</th>
              <th>部类</th>
              <th style="width: 40px">册别</th>
              <th style="width: 40px">卷数</th>
              <th style="width: 40px">字数</th>
              <th>作译者</th>
              <th style="width: 100px">时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="notes">注：双击可查看</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.multi-select.js') }}"></script>
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.quicksearch.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/cbeta-sutra.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>

<script>
  // 高度自适应
  function adaptive() {
    var h = $(document.body).height();
    $('#main-left').height(h);
    $('#main-right').height(h);
  }

  $(document).ready(function () {
    adaptive();
  });

  $(window).resize(function () {
    adaptive();
  });

  <!-- 顶部导航第一行 -->
  // 显示、隐藏文章区域
  $('.m-header .zone-control .zone-article').click(function () {
    $('.main-right .content .content-left').toggleClass('hide');
    $('.m-header .sub-line .left').toggleClass('hide');
  });

  // 显示、隐藏中间区域
  $('.m-header .zone-control .zone-stick').click(function () {
    $('.main-right .content .content-center').toggleClass('hide');
    $('.m-header .sub-line .center').toggleClass('hide');
  });

  // 显示、隐藏检索区域
  $('.m-header .zone-control .zone-search').click(function () {
    $('.main-right .content .content-right').toggleClass('hide');
    $('.m-header .sub-line .right').toggleClass('hide');
  });

  // 展开更多操作
  $('.more .btn-more').click(function () {
    $('.more-group').toggleClass('hidden');
  });

  $('.more .btn-sm').click(function () {
    $(this).toggleClass('active');
  });

  // 显示行首
  $('.more .btn-line-head').click(function () {
    if ($('#content-article').hasClass('article-row'))
      $('#content-article').removeClass('article-row').addClass('article');
    else
      $('#content-article').removeClass('article').addClass('article-row');
  });

  // 显示校勘
  $('.more .btn-note').click(function () {
    if ($(this).hasClass('active')) {
      $('.content-left .note').hide();
    } else {
      $('.content-left .note').show();
      $('.content-left .note.mod').hide();
    }
  });

  // 显示标点
  $('.more .btn-bd').click(function () {
    if ($(this).hasClass('active'))
      $('.content-left bd').hide();
    else
      $('.content-left bd').show();
  });

  $('.sub-line .order-wrap').click(function () {
    $('.search-orders').toggleClass('hide');
  });

  // 选择检索范围
  $('.scope-item').click(function () {
    $('.scope-item').removeClass('active');
    $(this).addClass('active');
    $('#cur-scope').text($(this).text());
  });

  <!-- 顶部导航第二行 -->
  function pad(str, max) {
    str = str.toString();
    return str.length < max ? pad("0" + str, max) : str;
  }

  // 第一卷
  $('.sub-line .left .btn-page.first').click(function () {
    window.location = '/{{zang + jing + "_001"}}';
  });

  // 最末卷
  $('.sub-line .left .btn-page.last').click(function () {
    window.location = '/{{zang + jing + "_%03d" % juan_count}}';
  });

  // 上一卷
  $('.sub-line .left .btn-page.prev').click(function () {
    window.location = '/{{zang + jing + "_%03d" % (juan-1)}}';
  });

  // 下一卷
  $('.sub-line .left .btn-page.next').click(function () {
    window.location = '/{{zang + jing + "_%03d" % (juan+1)}}';
  });

  // 跳转到第n卷
  $('.sub-line .left .btn-page.to').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode == "13") {
      var n = $('.btn-page.to input').val().trim();
      window.location = '/{{zang + jing}}_' + pad(n, 3);
    }
  });

  // 增加字体
  $('.sub-line .left .btn-font-enlarge').click(function () {
    var $article = $('.content > .content-left');
    var cur_size = parseFloat($article.css('font-size'));
    $article.css('font-size', cur_size+1);
  });

  // 减少字体
  $('.sub-line .left .btn-font-reduce').click(function () {
    var $article = $('.content > .content-left');
    var cur_size = parseFloat($article.css('font-size'));
    $article.css('font-size', cur_size-1);
  });

  // 展开、收起顶部导航第二行
  $('.zoom .min-img').click(function () {
    $('.zoom .min-img').toggleClass('hide');
    $('.zoom .max-img').toggleClass('hide');
    $('.m-header .sub-line').hide();
    $('.main-right .content').css('padding-top', 40);
  });

  $('.zoom .max-img').click(function () {
    $('.zoom .min-img').toggleClass('hide');
    $('.zoom .max-img').toggleClass('hide');
    $('.m-header .sub-line').show();
    $('.main-right .content').css('padding-top', 70);
  });

  // 弹框-检索结果排序方式
  $('.order-wrap').on('click', function (event) {
    event.stopPropagation();
    var flag = true;
    var $tag = $('.search-orders');
    $tag.show();
    $(document).bind("click", function (e) {
      var target = $(e.target);
      if (target.closest($tag).length === 0 && flag === true) {
        $tag.hide();
        flag = false;
      }
    });
  });

  // 选择某种排序方式
  $('.search-order').click(function () {
    $('.search-order').removeClass('active');
    $(this).addClass('active');
    $('#cur-order').text($(this).text());
  });


  <!-- 左侧文章阅读区域 -->
  // 点击关键字，显示弹框
  $('.kw').click(function (e) {
    var $kw_dlg = $('#mouse-over-dlg');
    var positionX = e.pageX;
    var positionY = e.pageY;
    var height = window.screen.availHeight;
    var width = $('.main-right .content-left').width();
    var left_distance = $('.main-right .content-left').offset().left;
    var screenY = e.screenY;
    var dlg_width = $kw_dlg.width();
    var dlg_height = $kw_dlg.height();
    if (positionX + dlg_width > width + left_distance) {
      $kw_dlg.css('left', positionX - dlg_width - 30);
    } else {
      $kw_dlg.css('left', positionX);
    }
    if (screenY + dlg_height > height) {
      $kw_dlg.css('top', positionY - dlg_height - 30);
    } else {
      $kw_dlg.css('top', positionY + 10);
    }
    $kw_dlg.show();
    $('#text-selected-dlg').hide();
  });

  // 选中文字时，显示弹框
  $('.main-right .content p').mouseup(function (e) {
    var $txt_dlg = $('#text-selected-dlg');
    var txt = window.getSelection ? window.getSelection() : document.selection.createRange().text; //选中的文本
    if (txt.toString().length > 0) {
      var positionX = e.pageX;
      var positionY = e.pageY;
      var screenY = e.screenY;
      var width = $('.main-right .content').width();
      var left_distance = $('.main-right .content').offset().left;
      var height = window.screen.availHeight;
      var dlg_width = $txt_dlg.width();
      var dlg_height = $txt_dlg.height();
      if (positionX + dlg_width > width + left_distance) {
        $txt_dlg.css('left', positionX - dlg_width - 30);
      } else {
        $txt_dlg.css('left', positionX);
      }
      if (screenY + dlg_height > height) {
        $txt_dlg.css('top', positionY - dlg_height - 30);
      } else {
        $txt_dlg.css('top', positionY + 10);
      }
      $txt_dlg.show();
      $('#mouse-over-dlg').hide();
    } else {
      //点击空白处，取消弹框
      $('#text-selected-dlg').hide();
      $('#mouse-over-dlg').hide();
    }
  });

  <!-- 中间粘住结果区域 -->
  // 删除结果
  $('.content-center .result-item .btn-operate').click(function () {
    $(this).parent().parent().remove();
  });

  <!-- 右侧检索结果区域 -->
  // 粘住结果
  $('.content-right .result-item .btn-operate').click(function () {
    $('.main-right .content .content-center').removeClass('hide');
    $('.m-header .sub-line .center').removeClass('hide');
    var item = $(this).parent().parent();
    item.find('.btn-operate').bind('click', function () {
      $(this).parent().parent().remove();
    });
    $('.content-center .result-items').append(item);
  });

</script>

<script>
  // 配置自定检索范围
  $('#my-select').multiSelect({
    selectableHeader: "待选经名<input type='text' class='form-control search-input' id='selectable_input' placeholder='您可以输入关键字进行搜索'>",
    selectionHeader: "已选经名<input type='text' class='form-control search-input' id='selected_input' placeholder='您可以输入关键字进行搜索'>",
    selectableFooter: "<a class='left_btn' id='select_all_btn'>全选</a><a class='right_btn' id='select_all_search_btn'>全选所有搜索结果</a>",
    selectionFooter: "<a class='left_btn' id='deselect_all_btn'>全删</a><a class='right_btn' id='deselect_all_search_btn'>删除所有搜索结果</a>",
    selectableOptgroup: true,
    afterSelect: function (val) {
      console.log(val);
    }
  });

  // 选中、新增检索分组
  function dblClickCheckbox() {
    $('#configModal .checkbox-inline').removeClass('active');
    $(this).addClass('active');
    $('.cur-search-scope').text($(this).text());
  }

  $('#configModal .checkbox-inline').bind('dblclick', dblClickCheckbox);

  $('#configModal .add-search-scope').click(function () {
    var scopeStr = "<span class='search-scope'><input type='checkbox'/><label class='checkbox-inline' contenteditable='true'>新建</label></span>";
    $('#configModal .search-scope-groups').append(scopeStr);
    $('#configModal .search-scope-groups .checkbox-inline:last').focus();
    $('#configModal .checkbox-inline').unbind('dblclick').bind('dblclick', dblClickCheckbox);
  });
</script>

<script>

  // 字段查询
  var language = {
    "sProcessing": "处理中...",
    "sLengthMenu": "显示 _MENU_ 项结果",
    "sZeroRecords": "没有匹配结果",
    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    "sInfoPostFix": "",
    "sSearch": "搜索:",
    "sUrl": "",
    "sEmptyTable": "表中数据为空",
    "sLoadingRecords": "载入中...",
    "sInfoThousands": ",",
    "oPaginate": {
      "sFirst": "首页",
      "sPrevious": "上页",
      "sNext": "下页",
      "sLast": "末页"
    },
    "oAria": {
      "sSortAscending": ": 以升序排列此列",
      "sSortDescending": ": 以降序排列此列"
    }
  };

  $('#my-table').DataTable({
    language: language,
    data: cbeta_sutras
  });

  function tableBind() {
    // 双击时阅读
    $('#my-table tbody tr').unbind('dblclick').dblclick(function () {
      var sutra_id = $(this).children().first().text();
      window.location = '/' + sutra_id;
    });
  }

  tableBind();

  $('#my-table').DataTable().on('draw', function () {
    tableBind();
  });


  var $modal = $('#searchConfigModal');
  $modal.on('shown.bs.modal', function () {
  });
</script>

</body>
</html>