<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>CBETA</title>
  <meta charset="UTF-8">
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="{{site['description']}}"/>
  <meta name="keywords" content="{{site['keywords']}}"/>
  <link rel="shortcut icon" href="{{ static_url('imgs/favicon.ico') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ static_url('assets/sweet-alert/sweet-alert.min.css') }}"/>
  <link rel="stylesheet" href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
  <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>
  <link rel="stylesheet" href="{{ static_url('css/base.css') }}"/>
  <link rel="stylesheet" href="{{ static_url('css/tripitaka.css') }}"/>
  <script src="{{ static_url('plugins/jquery.min.js') }}"></script>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<script>
  // 初始化全局变量
  var zang = '{{zang}}';
  var jing = '{{jing}}';
  var juan = '{{juan}}';
  var prev = '{{prev}}';
  var next = '{{next}}';
</script>

<body>
<div class="app-main">
  <div class="main">
    <div class="main-content flex-content">
      <div class="main-right" id="main-right">
        <!-- 顶部导航 -->
        <div class="m-header">
          <div class="header-line main-line">
            <div class="left">
              <div class="panel-btn">
                <img class="btn-img" data-toggle="modal" data-target="#sutraNavModal" src="{{ static_url('imgs/icon_panel.png') }}"/>
              </div>
              <div class="title">CBETA</div>
              <div class="zone-control">
                <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img zone-article" title="文章区域"/>
                <img src="{{ static_url('imgs/icon_stick2.png') }}" class="btn-img zone-stick" title="粘住区域"/>
                <img src="{{ static_url('imgs/icon_search.png') }}" class="btn-img zone-search" title="检索区域"/>
              </div>
              <div class="tools">
                <img data-toggle="modal" data-target="#muluModal" src="{{ static_url('imgs/icon_catalog.png') }}" class="btn-img btn-mulu" title="文章目次"/>
              </div>
              <div class="more">
                <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img btn-more" title="更多"/>
                <span class="btn-group more-group hidden" role="group" aria-label="更多">
                  <button type="button" class="btn btn-default btn-sm btn-line-head">行首</button>
                  <button type="button" class="btn btn-default btn-sm btn-note">校勘</button>
                  <button type="button" class="btn btn-default btn-sm btn-bd">标点</button>
                </span>
              </div>
            </div>
            <div class="right">
              <div class="search">
                <img class="search-help btn-img" src="{{ static_url('imgs/char_icon7.png') }}" title="全文检索帮助"/>
                <img src="{{ static_url('imgs/icon_config.png') }}" class="btn-img btn-config" title="配置自定范围" data-toggle="modal" data-target="#searchConfigModal"/>
                <div class="input-group-btn search-scope">
                  <button type="button" class="btn dropdown-toggle btn-scope" data-toggle="dropdown">
                    <span class="cur-scope" id="cur-scope">全部</span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu scope-items">
                    <li><a class="scope-item active" href="#">全部</a></li>
                    <li><a class="scope-item" href="#">本经</a></li>
                    <li><a class="scope-item" href="#">自定</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input id="search-input" class="form-control search-input" type="text" placeholder="请输入关键字或页码">
                <img id="btn-search" class="search-img" src="/static/imgs/search-icon.png">
              </div>
              <div class="zoom">
                <img class="min-img" src="{{ static_url('imgs/icon_up.png') }}"/>
                <img class="max-img hide" src="{{ static_url('imgs/icon_down.png') }}"/>
              </div>
            </div>
          </div>
          <div class="header-line sub-line">
            <div class="left article">
              <div class="m-pager">
                <div class="btn-page first" title="{{juan_list[0]}}">首卷</div>
                <div class="btn-page prev" title="{{prev}}"><</div>
                <div class="btn-page to"><input type="text" value="{{juan}}"/> / {{juan_list[-1]}}</div>
                <div class="btn-page next" title="{{prev}}">></div>
                <div class="btn-page last" title="{{juan_list[-1]}}">末卷</div>
              </div>
              <div class="btn-tools" style="margin-left: 10px">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
            </div>
            <div class="center stick hide">
              <div class="btn-tools">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
            </div>
            <div class="right search hide">
              <div class="m-pager">
                <div class="btn-page first" title="1">首页</div>
                <div class="btn-page prev"><</div>
                <div class="btn-page to"><input type="text" value="1"/></div>
                <div class="btn-page next">></div>
                <div class="btn-page last" title="1">末页</div>
              </div>
              <div class="btn-tools">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
              </div>
              <div class="order-wrap">
                <span class="cur-order" id="cur-order">按相关度排列</span>
                <img class="order-img" src="{{ static_url('imgs/icon_order.png') }}"/>
                <div class="search-orders hide">
                  <div class="search-order active">按相关度排列</div>
                  <div class="search-order">按页编码排列</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          <!-- 左侧经文阅读区域 -->
          <div class="content-left">
            <div id="content-article" class="article">
              {% raw article %}
            </div>
          </div>
          <!-- 中间粘住检索结果区域 -->
          <div class="content-center hide">
            <div class="result-items">
              <div class="result-item">
                <div class="result-head">
                  <span class="btn-nav prev-page"><</span>
                  <span class="title">T31n1604_p0644 </span>
                  <span class="btn-nav next-page">></span>
                  <img class="btn-img btn-show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  <img class="btn-img btn-operate"/>
                </div>
                <div class="result-name">大般若波羅蜜多經(600卷)[玄奘]</div>
                <div class="result-text slim-scroll">
                  所謂寶相菩薩、寶手菩薩、寶印菩薩、寶髻菩薩、寶冠菩薩、寶峯菩薩、寶海菩薩、寶焰菩薩、寶幢菩薩、寶藏菩薩、金藏菩薩、淨藏菩薩、德藏菩薩、定藏菩薩、智藏菩薩、日藏菩薩、月藏菩薩、如來藏菩薩、蓮華藏菩薩、金剛藏菩薩、解脫月菩薩、普賢菩薩、普音菩薩、普戒菩薩、普行菩薩、
                </div>
              </div>
            </div>
          </div>
          <!-- 右侧全文检索结果区域 -->
          <div class="content-right hide">
            <div class="result-items">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- 鼠标点击关键字弹出对话框 -->
<div id="mouse-over-dlg">
  <div class="dlg-txt"><b>得【大正】＝保</b></div>
  <div class="m-btn-group">
    <div class="m-btn"><a href=""><i class="ion-ios7-copy-outline"></i>复制</a></div>
    <div class="m-btn"><a href=""><i class="ion-navicon"></i>查看列图</a></div>
  </div>
</div>

<!-- 鼠标选中文字弹出对话框 -->
<div id="text-selected-dlg">
  <ul>
    <li><img src="{{ static_url('imgs/icon9.png') }}"/><span>复制文字</span></li>
    <li><img src="{{ static_url('imgs/icon10.png') }}"/><span>引用复制</span></li>
    <li><img src="{{ static_url('imgs/icon11.png') }}"/><span>查词典</span></li>
    <li><img src="{{ static_url('imgs/icon12.png') }}"/><span>查字典</span></li>
    <li><img src="{{ static_url('imgs/icon13.png') }}"/><span>检索</span></li>
  </ul>
</div>

<!-- 配置自定检索范围 -->
<div class="panel-body">
  <div id="searchConfigModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">配置自定检索范围</h4>
        </div>
        <div class="modal-body">
          <h4 class="control-label">选择检索分组<span class="add-search-scope">+</span></h4>
          <div class="search-scope-groups">
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline active">唯识</label></span>
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline">戒律</label></span>
            <span class="search-scope"><input type="checkbox"/><label contenteditable="true" class="checkbox-inline">某某</label></span>
          </div>
          <div class="notes">注：点击+号可新建分组，单击分组可以修改名称，双击分组可以配置分组内容</div>
          <br/>
          <h4 class="control-label">配置分组：<span class="cur-search-scope">唯识</span></h4>
          <div class="form-group">
            <select multiple='multiple' id='my-select' name='my-select'>
              <option value='经名1'>经名1</option>
              <option value='经名2'>经名2</option>
              <option value='经名3'>经名3</option>
              <option value='经名4'>经名4</option>
              <option value='经名5'>经名5</option>
              <option value='经名6'>经名6</option>
              <option value='经名7'>经名7</option>
              <option value='经名8'>经名8</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light">保存配置</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 根据字段检索经名 -->
<div class="panel-body">
  <div id="sutraNavModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">经籍检索</h4>
        </div>
        <div class="modal-body">
          <!-- ["经号", "经名", "所属藏经", "部类", "册别", "卷数", "字数", "作译者", "时间"]-->
          <table id="my-sutra-table" class="table my-sutra-table" style="width: 100%">
            <thead>
            <tr>
              <th style="width: 45px">经号</th>
              <th>经名</th>
              <th style="width: 80px">藏经</th>
              <th>部类</th>
              <th style="width: 40px">册别</th>
              <th style="width: 40px">卷数</th>
              <th style="width: 40px">字数</th>
              <th>作译者</th>
              <th style="width: 100px">时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="notes">注：双击可查看</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 经文内部目次导航 -->
<div class="panel-body">
  <div id="muluModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mulu" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">目录导航</h4>
        </div>
        <div class="modal-body">
          <div id="my-mulu-tree"></div>
          <div class="notes">注：双击可查看</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% raw xsrf_form_html() %}
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('assets/sweet-alert/sweet-alert.min.js') }}"></script>
<script src="{{ static_url('js/backend.js') }}"></script>
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.multi-select.js') }}"></script>
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.quicksearch.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript" src="{{ static_url('js/cbeta-sutra.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/cbeta.js') }}"></script>


</body>

</html>