<div class="main-header-con">
  <div class="main-header">
    <div class="ivu-row-flex">
      <div class="main-header-left">
        <div class="title">
          <!-- <div class="title">
            <span class="toggle"><img src="{{ static_url('imgs/toggle.png') }}" alt="收起左侧菜单栏" title="收起左侧菜单栏"></span>
            <span class="platform"><img src="{{ static_url('imgs/platform.png') }}" alt=""></span>
          </div> -->
          <span class="platform"><img src="{{ static_url('imgs/platform.png') }}" alt=""></span>
        </div>
        <div class="line"></div>
      </div>
      <div class="main-header-right">
        <span class="welcome">
          欢迎您：<a href="/user/my/profile" title="个人中心">{{current_user['name'] if current_user else '访客'}}</a>
        </span>
        <span>
					<a href="/user/my/profile" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="个人中心">
					<img class="thumb-sm img-circle" src="{{ static_url((current_user or {}).get('img', 'imgs/user.png')) }}" style="margin-top: 10px;height: 32px; width: 32px;">
					</a>
				</span>
        <span>
          <a id="logout" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="退出系统">
            <img src="{{ static_url('imgs/logout.png') }}" alt="" title="退出系统">
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  $('#logout').click(function () {
    postApi('/user/logout', {'data': {}}, function () {
      showSuccess('注销成功', '');
      setTimeout(function () {
        window.location = '/user/login';
      }, 1000)
    });
  });
</script>


