<div class="sidebar-menu-con" style="">
  <div class="ivu-shrinkable-menu sidebar-collapse">
    <div class="logo-con">
      <img class="large" src="{{ static_url('imgs/logo_rushi.png') }}">
      <img class="mini" src="{{ static_url('imgs/logo-small.png') }}">
    </div>
    <ul class="menu" id="side-menu">
      {% for item in display_items %}
      {% if item.get('sub_items') %}
      <li>
        <div class="submenu-title" id="{{item['id']}}">
          <i><img src='{{ static_url("imgs/%s.png" % item["icon"]) }}' style="margin-top:9px;"></i>
          <span>{{item['name']}}</span>
        </div>
        <ul class="sub-ul sub-ul-hidden">
          {% for sub_item in item.get('sub_items') %}
          <li class="" id="{{sub_item['id']}}">
            <i><img src='{{ static_url("imgs/%s.png" % sub_item["icon"]) }}' class="sub-img"/></i>
            <span><a href="{{sub_item['link']}}">{{sub_item['name']}}</a></span>
          </li>
          {% end %}
        </ul>
      </li>
      {% else %}
      <li class="menu-item" id="{{item['id']}}">
        <i><img src='{{ static_url("imgs/%s.png" % item["icon"]) }}' style="margin-top:10px;"></i>
        <span><a href="{{item['link']}}">{{item['name']}}</a></span>
      </li>
      {% end %}
      {% end %}
    </ul>
  </div>
</div>


<script>
  $(function () {
    $('.sidebar-collapse').slimScroll({
      height: '100%',
      railOpacity: 0.9,
      alwaysVisible: false
    });

    $('.submenu-title').click(function () {
      $('.sub-ul').slideUp(300);

      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
        $(this).next().slideDown(300);
      }
    });

    var paths = location.pathname.replace(/^\//, '').split('/')
    paths.pop()
    var current_item = '#' + paths.slice(0, 2).join('-')
    $(current_item).addClass("active");
    $('.active').next().slideDown(300);
    var current_sub_item = '#' + location.pathname.replace(/^\//, '').replace(/[\/_]/g, '-')
    $(current_sub_item).addClass("sub-active");
  });

</script>
