<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>如是藏经</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/tripitaka.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<style>

</style>

<body>
<div class="app-main">
  <div class="main">
    <div class="main-content">
      <div class="flex-content">

        <div class="main-left slim-scroll" id="main-left">
          <div class="main-left-menu">
            <div class="menu-search-wrapper">
              <input class="menu-search-input" type="text"/>
              <img src="{{ static_url('imgs/icon13.png') }}"/>
            </div>
            <ul class="menu" id="side-menu">
              <li>
                <div class="submenu-title">
                  <span>大般若波羅蜜多經(600卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>放光般若波羅蜜經(20卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>摩訶般若鈔經(5卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>道行般若經(10卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>小品般若波羅蜜經(10卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>勝天王般若波羅蜜經(7卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>大明度經(6卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>般若波羅蜜多心經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>金剛般若波羅蜜經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>大寶積經(120卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說無量淸淨平等覺經(4卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說無量壽經(2卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說普門品經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>法鏡經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說決定毗尼經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說幻士仁賢經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說離垢施女經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說太子和休經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>大方等大集經(60卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>佛說太子和休經(1卷)</span>
                </div>
              </li>
              <li>
                <div class="submenu-title">
                  <span>大方等大集經(60卷)</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="main-right" id="main-right">
          <div class="m-header">
            <div class="left">
              <div class="toggle-btn">
                <img class="btn-img" src="{{ static_url('imgs/icon_toggle.png') }}"/>
              </div>
              <div class="title">CBETA</div>
              <div class="m-pager">
                <div class="btn-page first">1</div>
                <div class="btn-page prev"><</div>
                <div class="btn-page to"><input type="text" value="3"/></div>
                <div class="btn-page next">></div>
                <div class="btn-page last">80</div>
              </div>
              <div class="tools" style="margin-left: 6px;">
                <div class="btn-txt btn-font-enlarge" title="放大字体">A+</div>
                <div class="btn-txt btn-font-reduce" title="缩小字体">A-</div>
                <img src="{{ static_url('imgs/icon_catalog.png') }}" class="btn-img btn-catalog" title="目次"/>
              </div>

              <div class="more">
                <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img btn-more" title="更多"/>
                <span class="btn-group more-group hidden" role="group" aria-label="更多">
                  <button type="button" class="btn btn-default btn-sm btn-line-head">行首</button>
                  <button type="button" class="btn btn-default btn-sm btn-note">校勘</button>
                  <button type="button" class="btn btn-default btn-sm btn-punctuation">标点</button>
                </span>
              </div>
            </div>
            <div class="right">
              <div class="search">
                <img class="search-help btn-img" src="{{ static_url('imgs/char_icon7.png') }}" title="全文检索帮助"/>
                <img src="{{ static_url('imgs/icon_config.png') }}" class="btn-img btn-config" title="配置自订范围"/>
                <div class="input-group-btn search-scope">
                  <button type="button" class="btn dropdown-toggle btn-scope" data-toggle="dropdown">
                    <span class="cur-scope" id="cur-scope">全部</span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu scope-items">
                    <li><a class="scope-item active" href="#">全部</a></li>
                    <li><a class="scope-item" href="#">本经</a></li>
                    <li><a class="scope-item" href="#">自订</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input id="search-input" class="form-control search-input" type="text" placeholder="请输入关键字或页码">
                <img class="search-img" src="/static/imgs/search-icon.png">
              </div>
            </div>
            <div class="zoom">
              <img class="min-img" src="{{ static_url('imgs/icon_close.png') }}"/>
              <img class="max-img hide" src="{{ static_url('imgs/icon_open.png') }}"/>
            </div>
          </div>

          <div class="content ">
            <div class="content-left">
              <div class="article">
                <p style="text-align:center; font-size:22px; font-weight: bold">正法華經卷第一</p>
                <p style="text-align:right; font-size:16px; padding-right: 18px">西晉月氏國三藏竺法護譯</p>
                <p style="text-align:center; font-size:18px">光瑞品第一</p>
                <p>聞如是：</p>
                <p>一時佛遊王舍城靈鷲山，與大比丘眾俱，比丘千二百，一切無著，諸漏已盡無復欲塵，已得自在逮<b class="kw">得</b>己利，生死已索<b class="kw">眾</b>結即斷，一切由已獲度無極，已脫於慧心解得度、名曰：賢者知本際、賢者大迦葉、上時迦葉、象迦葉、江迦葉、舍利弗、大目揵連、迦旃延、阿那律、劫賓㝹、牛呞、離越、譬利斯、薄拘盧、拘絺、難陀、善意、滿願子、須菩提、阿難、羅云；菩薩八萬，皆不退轉，堅住無上正真之道，逮總持法得大辯才，常讚歎不退轉法輪，供養無數百千諸佛，於無量佛殖眾德本，諸佛世尊所見諮嗟，身常行慈入如來慧，善權普至大知度無極，從無數劫多所博聞，名達十方，救護無量百千眾生，遊於三界猶如日明，解一切法如幻如化野馬影響，悉無所有住無所住，雖<b
                    class="kw">見</b>終始亦無去來，既見色像本無形貌，現諸所生永無起滅，導利群黎不著三處，分別空慧無想無願，起三脫門至三達智，無去來今現在之想，開化黎庶使了本無。</p>
                <p>
                  其名曰：溥首菩薩、光世音菩薩、大勢至菩薩、常精進菩薩、不置遠菩薩、寶掌菩薩、印手菩薩、藥王菩薩、妙勇菩薩、寶月菩薩、月光菩薩、月滿菩薩、大度菩薩、超無量菩薩、越世菩薩、解縛菩薩、寶事菩薩、恩施菩薩、雄施菩薩、水天菩薩、帝天菩薩、大導師菩薩、妙意菩薩、慈氏菩薩，如是大士八萬上首。爾時天帝釋與二萬天子俱，日天子與無數眷屬俱，月天子以寶光明普有所炤，寶光天子、光燿天子俱，四大天王與萬天子俱，㷿明大梵自在天子與三萬天子俱，梵忍跡天子與三萬二千天子俱，飾乾大梵與無數天子，又梵名㷿光與無數大眾俱，來詣佛所，稽首畢退坐一<b
                    class="kw">面</b>。有八龍王，與無央數千諸龍眷屬俱；四真陀羅王——慎法真陀羅王，大法真陀羅王，仁和真陀羅王，持法真陀羅王；香音神，各與營從來詣佛所，稽首畢退住一面。淨身四天子——柔軟天子，和音天子，美軟天子，悅響天子——俱來詣佛所，前稽首畢退坐一面。四阿須倫王——最勝阿須倫，欲錦阿須倫，燕居阿須倫，吸氣阿須倫——與無央數百千阿須倫人民俱，來詣佛所，前稽首畢退坐一面。四金翅鳥王——大身王，大具足王，得神足王，不可動王——俱來詣佛所，稽首畢退住一面。摩竭國王阿闍世，與十子并諸營從，來詣佛所，稽首畢退坐一面。諸天、龍神、世人，莫不歸命奉敬侍坐。
                </p>
                <p>
                  爾時世尊與四部眾眷屬圍繞而為說經，講演菩薩方等大頌一切諸佛嚴淨之業。說斯經已，昇于自然師子之床加趺而坐，三昧正受定意，名曰立無量頌。尋應所宜，不見身貌、不得心意，所坐立處則有瑞應，天雨、意華、大意華、柔軟音華、大柔軟音華，散世尊上及於大會四部之眾，普佛國土六反震動。時大眾會比丘、比丘尼、清信士、清信女，天、龍、神鬼、揵沓惒、阿須倫、迦留羅、真陀羅、摩休勒、人與非人，國王君主大力轉輪聖王，各與營從，咸悉一心瞻戴世尊，意皆愕然怪未曾有。於時佛放面口結光明，普炤東方萬八千佛土，其大光明照諸佛國，靡不周遍，至於無擇大地獄中，上徹三十三天，彼此世界六趣周旋，所有蒸民一切皆現，其界諸佛現在所由，此土眾會悉遙見之；彼土覩斯亦復如是，十方諸佛所說經法，普遍聞焉。諸比丘、比丘尼、清信士、清信女，修行獨處者逮得德果一切表露，又諸菩薩意寂解脫，其出家者求報應行，皆亦悉現；諸佛世界滅度眾聖，所建寶廟自然為現。</p>
                <p>於是彌勒菩薩心自念言：「今者世尊，如來、至真、等正覺，三昧正受，現大感變，多所降伏，覩未曾有，天上世間諸佛廟寺，恢闊彰顯，將何所興而有此瑞？從昔暨今未曾見也。欲問其歸，孰堪發遣解斯誼乎？」尋改思曰：「今者大士溥首童真，所作已辦靡所不達，供養過去無數諸佛，曾當瞻覲如來、至真、等正覺，如此瑞應欲請問之。」</p>
                <p>時四部眾比丘、比丘尼、清信士、清信女，諸天、龍、神、揵沓惒、阿須倫、迦留羅、真陀羅、摩休勒，志懷猶豫得未曾有，見斯大聖無極威曜神足變化，各各發意，欲問世尊決散疑網。慈氏大士見眾會心，便問溥首曰：「仁者惟說，今何因緣有此瑞應，大聖神足放大光明，照于東方萬八千土，諸佛世界自然為現，所說經法皆遙聞之？」</p>
                <p>於是慈氏以<b class="kw">頌</b>而問溥首曰：</p>
                <p>「文殊師利！　　今何以故，　　導利眾庶，</p>
                <p>　放演光明？　　甚大威曜，　　出于面門，</p>
                <p>　神變遍照，　　十方㸌然；　　天雨眾華，</p>
                <p>　紛紛如降，　　意華大意，　　柔軟音華，</p>
                <p>　種種若干，　　其色殊妙，　　栴檀馨香，</p>
                <p>　悅可眾心，　　嚴淨巍巍，　　皆悉周遍。</p>
                <p>　今日四輩，　　欣然踊躍，　　於此佛土，</p>
                <p>　十方世界，　　六反震動，　　莫不傾搖。</p>
                <p>　于彼光明，　　則照東方，　　萬八千土，</p>
                <p>　其暉普徹，　　諸佛境土，　　紫磨金色，</p>
                <p>　煌煌灼灼，　　㷿無不接。　　國邑群萌，</p>
                <p>　……</p>
                <p>　眾猛尊導，　　講法如是，　　善權方便，</p>
                <p>　億百千姟，　　分別無數，　　無復想念，</p>
                <p>　其不學者，　　不能曉了。　　由是之故，</p>
                <p>　了正真言，　　正覺出世，　　順修明哲，</p>
                <p>　斷諸狐疑，　　蠲除猶豫，　　能仁欣勇，</p>
                <p>　咸至佛道。」</p>
                <p>正法華經卷<b class="kw">第</b>一</p>
              </div>
            </div>

            <div class="search-right">

              <div class="search-head">
                <div class="m-pager">
                  <div class="btn-page first">1</div>
                  <div class="btn-page prev"><</div>
                  <div class="btn-page to"><input type="text" value="3"/></div>
                  <div class="btn-page next">></div>
                  <div class="btn-page last">10</div>
                </div>
                <div class="font">
                  <div class="btn-font btn-font-enlarge" title="放大字体">A+</div>
                  <div class="btn-font btn-font-reduce" title="缩小字体">A-</div>
                </div>
                <div class="order-wrap fr">
                  <span class="cur-order" id="cur-order">按相关度升序排列</span>
                  <img class="order-img" src="{{ static_url('imgs/icon_order.png') }}"/>
                  <div class="search-orders hide">
                    <div class="search-order">按相关度升序排列</div>
                    <div class="search-order active">按相关度降序排列</div>
                    <div class="search-order">按页编码升序排列</div>
                    <div class="search-order">按页编码降序排列</div>
                  </div>
                </div>
              </div>
              <div class="result-items">
                <div class="result-item">
                  <div class="result-head">
                    <span class="btn-nav prev-page"><</span>
                    <span class="title">T31n1604_p0644 </span>
                    <span class="btn-nav next-page">></span>
                    <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  </div>
                  <div class="result-name">大般若波羅蜜多經(600卷)[玄奘]</div>
                  <div class="result-text slim-scroll">
                    所謂寶相菩薩、寶手菩薩、寶印菩薩、寶髻菩薩、寶冠菩薩、寶峯菩薩、寶海菩薩、寶焰菩薩、寶幢菩薩、寶藏菩薩、金藏菩薩、淨藏菩薩、德藏菩薩、定藏菩薩、智藏菩薩、日藏菩薩、月藏菩薩、如來藏菩薩、蓮華藏菩薩、金剛藏菩薩、解脫月菩薩、普賢菩薩、普音菩薩、普戒菩薩、普行菩薩、
                  </div>
                </div>
                <div class="result-item">
                  <div class="result-head">
                    <span class="btn-nav prev-page"><</span>
                    <span class="title">T0279n0023_p0003 </span>
                    <span class="btn-nav next-page">></span>
                    <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  </div>
                  <div class="result-name">大方廣佛華嚴經(80卷)[實叉難陀]</div>
                  <div class="result-text slim-scroll">
                    金剛智威德菩薩、無垢威德菩薩、日威德菩薩、月威德菩薩、福山威德菩薩、智照威德菩薩、普勝威德菩薩、地藏菩薩、虛空藏菩薩、蓮華藏菩薩、寶藏菩薩、日藏菩薩、清淨功德藏菩薩、法海藏菩薩、遍照藏菩薩、齊藏菩薩、勝蓮華藏菩薩、日眼菩薩、淨眼菩薩、無垢眼菩薩、無礙眼菩薩、普明眼菩薩、善利智眼菩薩、金剛眼菩薩、寶眼菩薩、虛空眼菩薩
                  </div>
                </div>
                <div class="result-item">
                  <div class="result-head">
                    <span class="btn-nav prev-page"><</span>
                    <span class="title">L132n1557_p0524 </span>
                    <span class="btn-nav next-page">></span>
                    <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  </div>
                  <div class="result-name">大方廣佛華嚴經(40卷)[佛馱跋陀羅]</div>
                  <div class="result-text">
                    何者為十？所謂：得諸相好，種種莊嚴，同於諸佛；能放清淨大光明網，同於諸佛；神通變化，調伏眾生，同於諸佛；無邊色身，清淨圓音，同於諸佛；隨眾生業現淨佛國，同於諸佛；一切眾生所有語言皆能攝持、不忘不失，同於諸佛；無盡辯才隨眾生心而轉法輪令生智慧，同於諸佛；大師子吼無所怯畏，以無量法開悟群生，同於諸佛；於一念頃，以大神通普入三世，同於諸佛；普能顯示一切眾生諸佛莊嚴、諸佛威力、諸佛境界，同於諸佛。爾時，
                    <span class="hit" style="color:red">普眼菩薩</span>白普賢菩薩言：「佛子！此菩薩摩訶薩得如是法，同諸如來，何故不名：佛？何故不名：十力？何故不名：一切智？何故不名：一切法中得菩提者？何故不得名為：普眼？何故不名：一切境中無礙見者？何故不名：覺一切法？何故不名：與三世佛無二住者？何故不名：住實際者？何故修行普賢行願猶未休息？何故不能究竟法界捨菩薩道？」
                  </div>
                </div>
                <div class="result-item">
                  <div class="result-head">
                    <span class="btn-nav prev-page"><</span>
                    <span class="title">L132n1557_p0522 </span>
                    <span class="btn-nav next-page">></span>
                    <img class="btn-img show-pic" src="{{ static_url('imgs/icon_pic.png') }}"/>
                  </div>
                  <div class="result-name">大方廣佛華嚴經(40卷)[佛馱跋陀羅]</div>
                  <div class="result-text slim-scroll">
                    月光菩薩、一塵菩薩、堅固行菩薩、霔法雨菩薩、最勝幢菩薩、普莊嚴菩薩、智眼菩薩、法眼菩薩、慧雲菩薩、總持王菩薩、無住願菩薩、智藏菩薩、心王菩薩、內覺慧菩薩、住佛智菩薩、陀羅尼勇健力菩薩、持地力菩薩、妙月菩薩、須彌頂菩薩、寶頂菩薩、普光照菩薩、威德王菩薩、智慧輪菩薩、大威德菩薩、大龍相菩薩、質直行菩薩、不退轉菩薩、持法幢菩薩、無忘失菩薩、攝諸趣菩薩、不思議決定慧菩薩、遊戲無邊智菩薩、無盡妙法藏菩薩、智日菩薩、法日菩薩、智藏菩薩、智澤菩薩、普見菩薩、不空見菩薩、金剛通菩薩、金剛智菩薩、金剛焰菩薩、金剛慧菩薩、
                    <span class="hit" style="color:red">普眼菩薩</span>、佛日菩薩、持佛金剛祕密義菩薩、普眼境界智莊嚴菩薩……。如是等菩薩摩訶薩十佛剎微塵數，往昔皆與毘盧遮那如來同修菩薩諸善根行。爾時，普眼菩薩摩訶薩承佛神力從座而起，偏袒右肩，右膝著地，合掌白佛言：「世尊！我於如來、應、正等覺，欲有所問，願垂哀許。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--鼠标点击关键字时，弹出对话框-->
<div id="mouse-over-dlg">
  <div class="dlg_txt"><b>得【大正】＝保</b></div>
  <div class="m-btn-group">
    <div class="m-btn"><a href=""><i class="ion-ios7-copy-outline"></i>复制</a></div>
    <div class="m-btn"><a href="javascript:showList()"><i class="ion-navicon"></i>查看列图</a></div>
  </div>
</div>

<!--鼠标选中文字时，弹出对话框-->
<div id="text-selected-dlg">
  <ul>
    <li><img src="{{ static_url('imgs/icon9_1.png') }}"/><span>复制文字</span></li>
    <li><img src="{{ static_url('imgs/icon10.png') }}"/><span>引用复制</span></li>
    <li><img src="{{ static_url('imgs/icon11.png') }}"/><span>查词典</span></li>
    <li><img src="{{ static_url('imgs/icon12.png') }}"/><span>查字典</span></li>
    <li><img src="{{ static_url('imgs/icon13.png') }}"/><span>检索</span></li>
  </ul>
</div>

<!-- 校勘记展示Modal -->
<div id="jk-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content black-bg">
      <div class="modal-body">
        <ul class="jk-list-ul">
          <li>
            <h5>赵城</h5>
            <ul class="jk-list-char-ul">
              <li><span>幢</span></li>
              <li><span>幢</span></li>
              <li><span>幢</span></li>
            </ul>
            <div><img src="{{ static_url('imgs/pic1.png') }}"></div>
          </li>
          <li>
            <h5>赵城</h5>
            <ul class="jk-list-char-ul">
              <li><span>幢</span></li>
              <li><span>幢</span></li>
              <li><span>幢</span></li>
            </ul>
            <div><img src="{{ static_url('imgs/pic2.png') }}"></div>
          </li>
          <li>
            <h5>赵城</h5>
            <ul class="jk-list-char-ul">
              <li><span>幢</span></li>
              <li><span>幢</span></li>
              <li><span>幢</span></li>
            </ul>
            <div><img src="{{ static_url('imgs/pic1.png') }}"></div>
          </li>
          <li>
            <h5>赵城</h5>
            <ul class="jk-list-char-ul">
              <li><span>幢</span></li>
              <li><span>幢</span></li>
              <li><span>幢</span></li>
            </ul>
            <div><img src="{{ static_url('imgs/pic2.png') }}"></div>
          </li>
          <li>
            <h5>赵城</h5>
            <ul class="jk-list-char-ul">
              <li><span>幢</span></li>
              <li><span>幢</span></li>
              <li><span>幢</span></li>
            </ul>
            <div><img src="{{ static_url('imgs/pic1.png') }}"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}

<script>
  // 高度自适应
  function adaptive() {
    var h = $(document.body).height();
    $('#main-left').height(h);
    $('#main-right .content').height(h - 39);
    $('#main-right .content-left').height(h - 52);
    $('#main-right .search-right').height(h - 42);
  }

  $(document).ready(function () {
    adaptive();
  });

  $(window).resize(function () {
    adaptive();
  });

  // 收起左侧目录
  $('.m-header .toggle-btn').click(function () {
    var $mainLeft = $('#main-left');
    if ($mainLeft.css('display') !== 'none') {
      $mainLeft.hide();
      $('#main-right .m-header').css('left', 0);
    } else {
      $mainLeft.show();
      $('#main-right .m-header').css('left', $mainLeft.width());
    }
  });

  // 收起检索结果区域
  $('.zoom .min-img').click(function () {
    $('.zoom .min-img').toggleClass('hide');
    $('.zoom .max-img').toggleClass('hide');
    $('.search-right').hide();
  });

  $('.zoom .max-img').click(function () {
    $('.zoom .min-img').toggleClass('hide');
    $('.zoom .max-img').toggleClass('hide');
    $('.search-right').show();
  });


  // 展开更多操作
  $('.more .btn-more').click(function () {
    $('.more-group').toggleClass('hidden');
  });

  $('.more .btn-sm').click(function () {
    $(this).toggleClass('active');
  });

  $('.search-head .order-wrap').click(function () {
    $('.search-orders').toggleClass('hide');
  });

</script>

<script>
  // 检索结果排序
  $('.order-wrap').on('click', function (event) {
    event.stopPropagation();
    var flag = true;
    var $tag = $('.search-orders');
    $tag.show();
    $(document).bind("click", function (e) {
      var target = $(e.target);
      if (target.closest($tag).length === 0 && flag === true) {
        $tag.hide();
        flag = false;
      }
    });
  });

  $('.search-order').click(function () {
    $('.search-order').removeClass('active');
    $(this).addClass('active');
    $('#cur-order').text($(this).text());
  });

  $('.scope-item').click(function () {
    $('.scope-item').removeClass('active');
    $(this).addClass('active');
    $('#cur-scope').text($(this).text());
  });

  // 点击关键字，显示弹框
  $('.kw').click(function (e) {
    var $kw_dlg = $('#mouse-over-dlg');
    var positionX = e.pageX;
    var positionY = e.pageY;
    var height = window.screen.availHeight;
    var width = $('.main-right .content-left').width();
    var left_distance = $('.main-right .content-left').offset().left;
    var screenY = e.screenY;
    var dlg_width = $kw_dlg.width();
    var dlg_height = $kw_dlg.height();

    console.log({positionX: positionX, positionY: positionY, width: width, height: height, screenY: screenY, left_distance: left_distance});

    if (positionX + dlg_width > width + left_distance) {
      $kw_dlg.css('left', positionX - dlg_width - 30);
    } else {
      $kw_dlg.css('left', positionX);
    }
    if (screenY + dlg_height > height) {
      $kw_dlg.css('top', positionY - dlg_height - 30);
    } else {
      $kw_dlg.css('top', positionY + 10);
    }
    $kw_dlg.show();
    $('#text-selected-dlg').hide();
  });

  // 选中文字时，显示弹框
  $('.main-right .content p').mouseup(function (e) {
    var $txt_dlg = $('#text-selected-dlg');
    var txt = window.getSelection ? window.getSelection() : document.selection.createRange().text; //选中的文本
    if (txt.toString().length > 0) {
      var positionX = e.pageX;
      var positionY = e.pageY;
      var screenY = e.screenY;
      var width = $('.main-right .content').width();
      var left_distance = $('.main-right .content').offset().left;
      var height = window.screen.availHeight;
      var dlg_width = $txt_dlg.width();
      var dlg_height = $txt_dlg.height();

      if (positionX + dlg_width > width + left_distance) {
        // alert(positionX + '|' + dlg_width + '|' +  width + '|' +  left_distance);
        $txt_dlg.css('left', positionX - dlg_width - 30);
      } else {
        $txt_dlg.css('left', positionX);
      }
      if (screenY + dlg_height > height) {
        $txt_dlg.css('top', positionY - dlg_height - 30);
      } else {
        $txt_dlg.css('top', positionY + 10);
      }

      $txt_dlg.show();
      $('#mouse-over-dlg').hide();
    } else {
      //点击空白处，取消弹框
      $('#text-selected-dlg').hide();
      $('#mouse-over-dlg').hide();
    }
  });

  // 遮罩层弹出框
  function showList() {
    $('#jk-modal').modal();
  }
</script>

</body>
</html>