<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>注册</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/register.css') }}">
</head>

<body>
<div class="app-main">
  <div class="main">
    <div class="register">
      <form>
        <div class="register-in">
          <div class="hd clearfix">
            <h3 class="logo fl"></h3>
            <span class="desc fr">已有账号？点我&nbsp;<em><a href="/user/login?next={{next}}" class="login_a">登录</a></em></span>
          </div>
          <div class="bd">
            <div class="item">
              <input type="text" placeholder='请输入姓名' id="name">
              <i class="ion-ios7-person-outline"></i>
            </div>
            <div class="item">
              <select id="gender">
                <option value="">请选择性别</option>
                <option value="男">男</option>
                <option value="女">女</option>
              </select>
              <i class="ion-ios7-person-outline"></i>
            </div>
            <div class="item">
              <input type="password" placeholder='请输入密码' id="password">
              <i class="ion-ios7-unlocked-outline"></i>
              <span class="hide"></span>
            </div>
            <div class="item">
              <input type="password" placeholder='请再次输入密码' id="confirm_psw">
              <i class="ion-ios7-locked-outline"></i>
            </div>
            <div class="item">
              <input type="number" placeholder='请输入手机号' id="phone">
              <i class="ion-ios7-telephone-outline"></i>
            </div>
            <div class="item">
              <input type="text" placeholder='请输入邮箱' id="email">
              <i class="ion-ios7-email-outline"></i>
            </div>
            <div class="item">
              <input type="text" placeholder='请输入手机验证码' id="phone-code">
              <i class="ion-ios7-checkmark-outline"></i>
              <a id="phone-code-btn" class="phone-code-btn">获取验证码</a>
            </div>
            <div class="item">
              <input type="text" placeholder='请输入邮箱验证码' id="email-code">
              <i class="ion-ios7-checkmark-outline"></i>
              <a id="email-code-btn" class="email-code-btn">获取验证码</a>
            </div>
          </div>
          <div class="register_agreement">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 同意<a href="#">《网站注册协议》</a>
              </label>
            </div>
          </div>
          <div class="register-btn">
            <a href="#">注&nbsp;&nbsp;&nbsp;&nbsp;册</a>
            <p class="ajax-error" style="display: none"></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% include _base_js.html %}
</body>

<script>
  $('.register-btn > a').click(function () {
    var password = $('#password').val();
    var confirm_psw = $('#confirm_psw').val();
    if (password !== confirm_psw) {
      return showError('密码错误', '两次输入的密码不一致。');
    }
    postApi('/user/register', {
      data: {
        name: $('#name').val(),
        gender: $('#gender').val(),
        email: $('#email').val(),
        email_code: $('#email-code').val(),
        phone_code: $('#phone-code').val(),
        password: password,
        phone: $('#phone').val()
      }
    }, function (data) {
      window.location = '{{next}}';
    }, function (error) {
      return showError(error.code, error.message);
    });
  });

  $("#email-code-btn").click(function () {
    var email = $('#email').val();
    if (email.trim().length == 0) {
      return showError('邮箱出错', '请输入注册邮箱');
    }
    if ($(this).hasClass('sending')) {  //判断是否已经发送
      return;
    }
    var ths = $(this);
    var time = 60;
    $.ajax({
      url: "/api/user/email_code",
      type: 'POST',
      data: {email: email},
      dataType: 'json',
      success: function (arg) {
        if (!arg.status) {
          return showError(code, error);
        } else {
          ths.addClass('sending');      //成功后显示已发送状态
          var interval = setInterval(function () {
            ths.text("已发送(" + time + ")");
            time -= 1;
            if (time <= 0) {
              clearInterval(interval);
              ths.removeClass('sending');
              ths.text("获取验证码");
            }
          }, 1000);
        }
      }
    });
  });

  $("#phone-code-btn").click(function () {
    var phone = $('#phone').val();
    if (phone.trim().length == 0) {
      return showError('手机号出错', '请输入手机号码');
    }
    if ($(this).hasClass('sending')) {  //判断是否已经发送
      return;
    }
    var ths = $(this);
    var time = 60;
    $.ajax({
      url: "/api/user/phone_code",
      type: 'POST',
      data: {phone: phone},
      dataType: 'json',
      success: function (arg) {
        if (!arg.status) {
          return showError(code, error);
        } else {
          ths.addClass('sending');      //成功后显示已发送状态
          var interval = setInterval(function () {
            ths.text("已发送(" + time + ")");
            time -= 1;
            if (time <= 0) {
              clearInterval(interval);
              ths.removeClass('sending');
              ths.text("获取验证码");
            }
          }, 1000);
        }
      }
    });
  });

</script>
</html>