<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>登录</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/login.css') }}">
</head>

<body>
<div class="app-main">
  <div class="main">
    <div class="login clearfix">

      <div class="right fl">
        <div class="right-in">
          <h3 class="logo"></h3>
          <div class="log">
            <div class="item">
              <input type="text" placeholder='请输入手机号或邮箱账号' id="phone_or_email">
              <i class="user-icon"></i>
            </div>
            <div class="item">
              <input type="password" placeholder='请输入密码' id="password">
              <i class="pass-icon"></i>
              <span class="forget">忘记密码？</span>
            </div>
            <div class="other clearfix">
              <div class="select fl">
                <label class="keep">
                  <input class="inp" type="checkbox"/>
                  <span></span>
                  <em>保持登录状态7天</em>
                </label>
              </div>
              <div class="fr desc">
                还没账号？点我&nbsp;<em><a href="/user/register?next={{next}}" class="login_a">注册</a></em>
              </div>
            </div>
            <div class="log-btn"><a href="#">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
            <p class="ajax-error" style="display: none"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script>
  $('.log-btn > a').click(function () {
    postApi('/user/login', {
      data: {
        phone_or_email: $('#phone_or_email').val(),
        password: $('#password').val()
      }
    }, function () {
      window.location = '{{next}}';
    });
  });
  // 回车
  $(document).on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode == "13") {
      $('.log-btn > a').click();
    }
  });
</script>

</body>
</html>