.wrapper {
  margin: 10px;
  height: 100%;
  padding-bottom: 50px;
}

.head_home {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  float: left;
  margin-right: 5px;
}

.wrapper {
  margin: 0;
  padding-bottom: 0;
}

.layout-content {
  margin: 0;
}

.cbreader-volume .volume-right {
  top: 0;
  margin: 0;
}

.cbreader-volume .volume-right .full .full-hd {
  height: 55px;
  padding-top: 10px;
}

.cbreader-volume .volume-right .full-bd {
  height: 100%;
}

.slice-title {
  display: inline-block;
  float: left;
  line-height: 37px;
  height: 37px;
  vertical-align: middle;
  padding: 0 10px;
  background: #843534;
  color: #fff;
  margin-right: 12px;
}

.slice-btns {
  display: inline-block;
  float: left;
  margin: 4px 10px;
}

.slice-info {
  display: inline-block;
  float: left;
  padding: 0 10px;
}

.s-h-count {
  font-size: 75%;
}

.slice-title a:hover {
  color: #fff;
}

#holder {
  text-align: center;
}

#holder svg {
  margin: auto;
}